{% extends "base_content.html" %}
<!-- template about.html -->
{% load i18n %}
{% load extra_tags %}
{% load humanize %}
{% block title %}{% spaceless %}{% trans "About" %}{% endspaceless %}{% endblock %}
{% block forejs %}
{% endblock %}
{% block content %}
<div class="headNormal">
{% trans "About" %}
</div>

<div class="content">
    <p>SciPy Advice is a collaboratively edited question and answer website for the scientific Python community. The maintainers of the <a href="http://www.scipy.org">scipy</a> package also maintain this site, but all questions about the use of Python in science, mathematics, and engineering are encouraged.
    </p>
    <p>Here you can ask and answer questions, comment and vote for the questions of others and their answers. Both questions and answers can be revised and improved. Questions can be tagged with the relevant keywords to simplify future access and organize the accumulated material.
    </p>

    <p>
    This Q&amp;A site is moderated by its members, hopefully including yourself! Moderation rights are gradually assigned to the site users based on the accumulated “reputation” points. These points are added to the users account when others vote for his/her questions or answers. These points (very) roughly reflect the level of trust of the community.
    </p>
    <p>
    No points are necessary to ask or answer the questions, so <a href="/account/signin">please join us</a>! 
    </p>
    
    <p>The site is implemented on top of the <a href="http://www.djangoproject.com">Django web framework</a> using the application <a href="http://github.com/cnprog/CNPROG/tree/master">CNPROG</a>. CNPROG is a clone of the excellent <a href="http://stackoverflow.com/">Stack Overflow</a> website. We are grateful to the administrators of the <a href="http://qa.nmrwiki.org/">NMR Wiki Q&amp;A</a> site for their <a href="http://github.com/evgenyfadeev/CNPROG/tree/master">English translation branch</a> of the CNPROG software.
    </p>
</div>
{% endblock %}
<!-- end template about.html -->
